:root {
    --color-border: #040405;
    --color-text: #040405;
    --color-accent-primary: #ff6a00;
    --color-accent-border: #fc6a00;
    --color-red: #fd3b30;
    --color-black-text: #040405;
    --color-background: #ffffff;
  }
  